name: Build Custom ISO

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y genisoimage wget

    - name: Download Tiny Core Linux ISO
      run: wget http://www.tinycorelinux.net/15.x/x86/release/Core-current.iso -O tinycore.iso

    - name: Run custom ISO creation script
      run: sudo bash create_custom_iso.sh Core-current.iso

    - name: Upload custom ISO
      uses: actions/upload-artifact@v3
      with:
        name: tinycore-custom.iso
        path: tmp/tinycore-custom.iso
